.navigation {
	height: 100vh;
}

.cardheading {
	text-align: center;
	color: #007bff;
	margin-top: 1.2rem;
	margin-bottom: 1.2rem;
}

.listcontainer {
	margin: 0.3rem;
}

.listcontainer li {
	margin-bottom: 1.2rem;
	text-transform: none;
	padding: 0.5rem;
}

.listcontainer .active a:hover {
	color: white;
}

.listcontainer li a:hover {
	text-decoration: none;
	color: black;
}

.active {
	background-color: #007bff;
	color: white;
	border-radius: 6px;
}

.Appbar {
	width: 84%;
	height: 4rem;
	position: fixed;
	z-index: 1;
}

.imagevaslogo {
	height: 2rem;
}

.font9 {
	font-size: 80%;
}

.imgMain {
	/* position: absolute; */
	background-color: #cbccd1;
	margin: 5vh 0 5vh 0;
	border-radius: 15px;
	width: 100%;
	/* height: auto; */
}
